@model List<User>
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "ManageBlockedEmailGUI";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] BGColor =
            {
                "#fee4cb","#e9e7fd","#ffd3e2","#c8f7dc","#d5deff"
            };
    Random rd = new Random();
}

<div class="projects-section">
    <div class="projects-section-header">
        <p>Danh sách chặn</p>
        @*<p class="time">December, 12</p>*@
    </div>
    <div class="projects-section-line">
        <div class="projects-status">
            <div class="item-status">
                <span class="status-number">@Model.Count</span>
                <span class="status-type">Người bị chặn</span>
            </div>

        </div>
        <div class="view-actions">
            @*<button class="view-btn list-view" title="List View">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
                    <line x1="8" y1="6" x2="21" y2="6" />
                    <line x1="8" y1="12" x2="21" y2="12" />
                    <line x1="8" y1="18" x2="21" y2="18" />
                    <line x1="3" y1="6" x2="3.01" y2="6" />
                    <line x1="3" y1="12" x2="3.01" y2="12" />
                    <line x1="3" y1="18" x2="3.01" y2="18" />
                </svg>
            </button>
            <button class="view-btn grid-view active" title="Grid View">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
                    <rect x="3" y="3" width="7" height="7" />
                    <rect x="14" y="3" width="7" height="7" />
                    <rect x="14" y="14" width="7" height="7" />
                    <rect x="3" y="14" width="7" height="7" />
                </svg>
            </button>*@
        </div>
    </div>
    <div class="project-boxes jsGridView">
        @foreach (var item in Model)
        {
            <div class="project-box-wrapper">
                <div class="project-box" style="background-color: @BGColor[rd.Next(0,4)].ToString();">
                    <div class="project-box-header">
                        <div class="more-wrapper">
                        </div>
                    </div>
                    <div class="project-box-content-header">
                        <a href="/ProfilePage?EmailAddress=@item.EmailAddress">
                            <p class="box-content-header"><img src="@item.AvatarURL" alt="" class="profile-img" /></p>
                            <p class="box-content-subheader">@item.name</p>
                        </a>
                    </div>
                    <div class="project-box-footer" style="justify-content: center">
                        @using (Html.BeginForm("DeleteBlockedEmail", "BlockedEmail", new { BlockedUser = item.EmailAddress }, FormMethod.Post))
                        {
                            <button class="btn btn-primary">Bỏ chặn</button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>