@model AlrightSocialWebApp.Models.Post;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
        var editor = CKEDITOR.replace('editor1', {
            height: 400,
            filebrowserUploadUrl: '/Post/UploadCKEditor',
            filebrowserBrowseUrl: '/Post/BrowseCKEditor'
        });
    </script>
}

<div class="row">
    <div class="col">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" id="editor1"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <input asp-for="TimeCreate" class="form-control" hidden />
            <input asp-for="TimeModified" class="form-control" hidden />
            <input asp-for="Author" class="form-control" hidden />
            <div class="form-group">
                <label asp-for="Privacy" class="control-label"></label>
                <select class="form-control" asp-for="Privacy" id="input-privacy">
                    <option value="Public">Công khai</option>
                    <option value="Friend">Bạn bè</option>
                    <option value="OnlyMe">Chỉ mình tôi</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo bài viết" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
