@using Microsoft.AspNetCore.Http;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FileBrowse</title>
    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="~/ckeditor/ckeditor.js" type="text/javascript"></script>
    <style>
        #fileExplorer {
            float: left;
            
            border-left: 1px solid #dff0ff;
        }
        .thumbnail {
            float: left;
            margin: 3px;
            padding: 3px;
            border: 1px solid #dff0ff;
        }
    </style>
    <script>
        $(document).ready(function () {
            var funcNum = @(Context.Request.Query["CKEditorFuncNum"] + ";");
            $('#fileExplorer').on('click', 'img', function () {
                var fileUrl = '/uploads/@Context.Session.GetString("email")/' + $(this).attr('title');
                window.opener.CKEDITOR.tools.callFunction(funcNum, fileUrl);
                window.close();
            }).hover(function () {
                $(this).css('cursor', 'pointer');
            });

        });
    </script>
</head>
<body>
    <div id="fileExplorer">
        @foreach (var fileInfo in ViewBag.fileInfos)
        {
            <div class="thumbnail">
                <img src="~/uploads/@Context.Session.GetString("email")/@fileInfo.Name" alt="thumb" title="@fileInfo.Name" width="100px" />
                <br />
                @fileInfo.Name;
            </div>
        }
    </div>
</body>
</html>
