@model AlrightSocialWebApp.Models.Post
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="Create" asp-controller="PostShare" method="post">
    <input name="UserEmail" class="form-control" value="@Context.Session.GetString("email")" hidden />
    <input name="Author" class="form-control" value="@Model.Author" hidden />
    <input name="PostID" class="form-control" value="@Model.ID" hidden />
    <div class="form-group">
        <label for="input-privacy" class="control-label"></label>
        <select class="form-control" name="Privacy" id="input-privacy">
            @if (Model.Privacy.ToString() == "Public")
            {
                <option value="Public">Công khai</option>
            }
            @if (Model.Privacy.ToString() != "OnlyMe")
            {
                <option value="Friend">Bạn bè</option>
            }
            <option value="OnlyMe">Chỉ mình tôi</option>
        </select>
    </div>
    <input name="NotificationID" class="form-control" hidden />
    <input name="Time" class="form-control" hidden />
    <div class="form-group">
        <input type="submit" value="Chia sẻ" class="btn btn-primary" />
    </div>
</form>
