@model AlrightSocialWebApp.Models.PostShare

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>PostShare</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostID" class="control-label"></label>
                <input asp-for="PostID" class="form-control" />
                <span asp-validation-for="PostID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Privacy" class="control-label"></label>
                <input asp-for="Privacy" class="form-control" />
                <span asp-validation-for="Privacy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationID" class="control-label"></label>
                <input asp-for="NotificationID" class="form-control" />
                <span asp-validation-for="NotificationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

