
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form method="get" asp-area="Admin" asp-controller="PostComment" asp-action="ManageCommentGUI" class="input-group">
    
    <div class="input-group-prepend">
        <span class="input-group-text">Nhập ID bài viết</span>
    </div>
    <input class="form-control" id="input" name="PostID" type="text" />
    <div class="input-group-append">

        <button class="btn btn-outline-primary input-group">Gửi</button>
    </div>
</form>
