
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<form method="post" asp-controller="account" asp-action="login">
    <label for="email">Email:</label>
    <input type="text" id="email" required /><br />
    <label for="password">Password:</label>
    <input type="password" id="password" required />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
