
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AlrightSocialWebApp.Models.AccountModel;

<h1>SignUp</h1>

<form method="post" asp-controller="account" asp-action="signup">
    <label for="email">Email:</label>
    <input type="text" id="email" asp-for="Email" required /><br />
    <label for="password">Password:</label>
    <input type="password" id="password" asp-for="Password" required /><br />
    <label for="re-enter-password">Nhập lại password:</label>
    <input type="password" id="re-enter-password" required />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>