@model IEnumerable<AlrightSocialWebApp.Models.SuspendedUser>;
@{
    ViewData["Title"] = "ManageSuspendedUser";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>Tên</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SuspendedEmail</td>
                <td>
                    <a href="/ProfilePage?EmailAddress=@item.SuspendedEmail">
                        <button class="btn btn-primary">Xem chi tiết</button>
                    </a>
                </td>
                <td>
                    @using (Html.BeginForm("DeleteSuspendedUser", "ManageUser", new { area = "Admin", EmailAddress = item.SuspendedEmail }, FormMethod.Post))
                    {
                        <button class="btn btn-danger">
                            Bỏ Cấm
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
