@model IEnumerable<AlrightSocialWebApp.Models.Notification>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/HomePage.css" />
</head>
<body>
    <div class="messages-section">
        <button class="messages-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="15" y1="9" x2="9" y2="15"></line>
                <line x1="9" y1="9" x2="15" y2="15"></line>
            </svg>
        </button>
        <div class="projects-section-header">
            <p>Thông báo</p>
        </div>
        @foreach (var item in Model)
        {
            <div class="messages">
                <div class="message-box" @(item.IsRead == false ? "style = background-color:rgb(176,224,230,0.5)" : "") >
                    <div class="message-content">
                        <div class="message-header">
                            <div class="name">@item.Content</div>
                            <button class="project-btn-more" id="more-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                    <circle cx="12" cy="12" r="1" />
                                    <circle cx="12" cy="5" r="1" />
                                    <circle cx="12" cy="19" r="1" />
                                </svg>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="more-btn">
                                <form asp-controller="Notification" asp-action="MarkAsRead" asp-route-id="@item.ID" method="post">
                                    <button type="submit" class="dropdown-item">Đánh dấu là đã đọc</button>
                                </form>
                            </div>
                        </div>
                        <p class="message-line time">
                            @item.Time;
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>
