
@{
    ViewData["Title"] = "SignInGUI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AlrightSocialWebApp.Models.User;

<h1>Đăng nhập</h1>
@if (ViewBag.error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.error
    </div>
}

<form method="post" asp-controller="SignIn" asp-action="signin">
    <div class="mb-3">
        <label for="InputEmail" class="form-label">Địa chỉ Email</label>
        <input type="email" class="form-control" id="InputEmail" asp-for="EmailAddress">
    </div>
    <div class="mb-3">
        <label for="InputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="Password">
    </div>
    <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>