@model List<FriendRequest>
@{
    ViewData["Title"] = "ManageFriendRequestGUI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/HomePage.css" />
</head>
<body>
    <div class="messages-section">
        <button class="messages-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="15" y1="9" x2="9" y2="15"></line>
                <line x1="9" y1="9" x2="15" y2="15"></line>
            </svg>
        </button>
        <div class="projects-section-header">
            <p>Danh sách lời mời kết bạn</p>
        </div>
        @foreach (var item in Model)
        {
            <div class="messages">

                <div class="message-box">
                    <div class="message-content">
                        <div class="message-header">
                            <a href="/ProfilePage?EmailAddress=@item.FriendEmail">
                                <div class="name">@item.FriendEmail</div>
                            </a>
                        </div>
                        @using (Html.BeginForm("DeclineFriendRequest", "FriendRequest", new { FriendEmail = @item.FriendEmail }, FormMethod.Post))
                        {
                            <button class="btn btn-danger mx-2" style="float:right">Từ chối</button>
                        }
                        @using (Html.BeginForm("AcceptFriendRequest", "FriendRequest", new { FriendEmail = @item.FriendEmail }, FormMethod.Post))
                        {
                            <button class="btn btn-success mx-2" style="float:right">Chấp nhận</button>
                        }
                        <p class="message-line time" style="float:left">
                            @item.Time;
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</body>